[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
pylint = "*"
django-tastypie = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
