{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vidly</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="dark:bg-gray-900 h-screen">
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
          <div
            class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
          >
            <div class="flex flex-shrink-0 items-center">
              <span class="text-white text-2xl font-bold">Vidly</span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="mx-auto max-w-7xl mt-4 px-2 sm:px-6 lg:px-8">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
